$coloruno: rgb(130, 115, 151);
$colordos: rgb(233, 213, 218);

main{
    div{                      
        h2{
            a{
                background-color: rgb(77, 76, 125);
                color: $colordos;                
            }
            a:hover{
                color: $coloruno;
            }
        }
        h4{
            a{
                color: $coloruno;
            }
            a:hover{
                color: rgb(77, 76, 125);                         
            } 
        }
        p{
            background-color: rgb(54, 48, 98);
            color: $colordos;
            padding: 10px ;
            width: 450px;
            border: $coloruno 3px solid;
            a{
                padding: 10px 30px;
                text-decoration: none;
                list-style: none;
                color: $colordos;   
            }
            a:hover{
                color: $coloruno;                         
            }  
        }
        form{
            padding: 10px;
        }
        div{
            h2{
                a{
                    text-decoration: none;
                    list-style: none;
                    color: $colordos;   
                }
                a:hover{
                    color: $coloruno;                         
                } 
            } 
            div{
                h4{
                    
                    background-color: rgb(54, 48, 98);
                    color: $colordos;
                    padding: 10px ;                    
                    border: $coloruno 3px solid;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;                    
                }
            }        
        }
    }      
}
